.Header{
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.241);
}
.logo-container{
    width: 15%;
    display: flex;
    /* justify-content: center; */
}
.logo{
    width: 255px;
    height: 120px;
}
.navItems{
    width: 33%;
}

.navItems>ul{
    display: flex;
    height: 120px;
    margin: 0;
    list-style: none;
    align-items:center;
}
.navItems>ul>li{
    margin-right: 20px;
    font-size: 1.5rem;
}

/* Card style  */

.card{
    width: 16%;
    background-color: #DBF3F4;
    padding: 10px;
    border-radius: 10px;
    height: 350px;
    margin-bottom: 20px;
}
.img-container{
    width: 100%;
    background-color: green;
    height: 180px;
    border-radius: 10px;
}
.img-container >img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card:hover{
    border: 1px solid rgba(225, 128, 37, 0.623);
    cursor: pointer;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}